<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">

<head>
<title>Please Log In</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
body {
	align-items: center;
	background-color: #000;
	display: flex;
	justify-content: center;
	height: 100vh;
}

.links {
	width: 100%;
	display: inline-block;
	color: #eee;
	cursor: pointer;
}

.createAccount {
	float: left;
	text-decoration-line: underline;
}

.forgetpassword {
	float: right;
	text-decoration-line: underline;
}

form {
	margin-bottom: 10px;
}

a:hover {
	color: #dc2f55;
}

.error {
	color: red;
	margin: 100px;
}
</style>
</head>

<body>
	<div class="form">
		<div class="error">Invalid bad Request</div>
		<div class="links">
			<a th:href="@{/login}" class="createAccount">Login </a> <a
				th:href="@{/createAccount}" class="forgetpassword">Create
				Account</a>

		</div>

	</div>
</body>
</html>
